<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>修改密码</title>
</head>
<body>
    <style>
        body{
            background: url(../static//update.jpeg);
            background-size: cover;
        }
        form{
            width: 500px;
            margin: auto;
        }
    </style>
    <form method="POST" action="/update/">
        {%csrf_token%} 用户名：
        <input type="text" name="username" /><br/> 密码：
        <input type="password" name="password" /><br/> 新密码：
        <input type="password" name="newpassword" /><br/>
        <button type="submit">修改</button> {{ msg }}
    </form>
</body>
</html>